doctype 5
html(lang="en")
  head
    title= pageTitle
  	//prod:s
    script(type='text/javascript').
      if (foo) {
         bar(1 + 5)
      }
  	//prod:e
  body
  	//dev:s
    h1 Jade - node template engine 
    //dev:e