//@grep dev:s
#block{
	width: 10px; 
	height: 40px; 
}
//@grep dev:e

//@grep prod:s
.block{
	margin: 5%; 
	margin: 10%; 
}

.block2
	margin: 5%; 
	margin: 10%; 
//@grep prod:e

//@grep dev:s
.block3
	margin 5%; 
	margin 10%; 
//@grep dev:e

.block4
	margin 5% 
	margin 10% 