//dev:s
#block{
	width: 10px; 
	height: 40px; 
}
//dev:e

//prod:s
.block{
	margin: 5%; 
	margin: 10%; 
}

.block2
	margin: 5%; 
	margin: 10%; 
//prod:e

//dev:s
.block3
	margin 5%; 
	margin 10%; 
//dev:e

.block4
	margin 5% 
	margin 10% 