
#my-container.my-end-penalty,
#my-container.my-ko-penalty
  display: inline-block //modern new
  // display: table //modern
  display: block //older

#my-container.my-ko-2
  display: inline-block //modern new
  // display: table //modern
  display: block //older


#my-container.my-ko-2
  // width: 375px //modern:s
  display: inline-block
  // display: table //modern:e
  display: block //older