#block{
	width: 10px; //prod
	height: 40px; //public
}

.block{
	margin: 5%; //dev
	margin: 10%; //prod
}

.block2
	margin: 5%; //dev
	margin: 10%; //prod

.block3
	margin 5%; //dev
	margin 10%; //prod

.block4
	margin 5% //dev
	margin 10% //prod